@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}


@mixin centerhorizontal{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}